apps/*/run
apps/*/logs
apps/**/*.js
apps/**/*.jsc
apps/**/typings/app
apps/**/typings/config
apps/server-op/app/public
!apps/*/index.js
!apps/server-op/fe-bundle/*.js

.env*

.DS_Store
.vscode
.github
.travis.yml
appveyor.yml

package-lock.json

node_modules
coverage
swagger.json
yarn-error.log

/kesci-mono

yarn.lock
